
<% layout("/layout/boilerplate.ejs")%>

<div class="alert alert-warning d-flex align-items-center alert-bar successErrorAlert" role="alert">
    <div style="margin-left: auto; margin-right: auto;">  <p> <%= err.message %></p>  </div>
</div>