
<% layout("/layout/boilerplate.ejs")%>

<div class="alert alert-warning d-flex align-items-center alert-bar successErrorAlert" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>  <p> <%= err.message %></p>  </div>
</div>